name: debug
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  buildAndroid:
    name: buildAndroid
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup Android NDK
        uses: nttld/setup-ndk@main
        id: setup-ndk
        with:
          ndk-version: r21e

      - name: Setup Java JDK
        uses: actions/setup-java@main
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.2.5

      - name: Install Haxelib (Ajustado para não travar)
        run: |
          haxelib setup ~/haxelib
          # 1. Baixando as bibliotecas problemáticas via GIT direto (Turbo)
          git clone https://github.com/mcagabe19/lime --depth 1
          git clone https://github.com/openfl/openfl --depth 1
          git clone https://github.com/HaxeFlixel/flixel --depth 1
          git clone https://github.com/nebulatv/linc_luajit --depth 1
          git clone https://github.com/SPLCoding/hxCodec-but-it-works-xd --depth 1
          
          # 2. Registrando pastas para evitar o erro "Could not clone"
          haxelib dev lime lime
          haxelib dev openfl openfl
          haxelib dev flixel flixel
          haxelib dev linc_luajit linc_luajit
          haxelib dev hxCodec hxCodec-but-it-works-xd
          
          # 3. Instalando o restante do seu projeto
          haxelib install hxcpp 4.2.1 > /dev/null
          haxelib install flixel-tools 1.5.1
          haxelib install flixel-ui
          haxelib install flixel-addons 3.0.2
          haxelib install tjson
          haxelib install hxjsonast
          haxelib install SScript
          haxelib git discord_rpc https://github.com/Aidan63/linc_discord-rpc
          haxelib git extension-androidtools https://github.com/MaysLastPlay77/extension-androidtools
          haxelib install hxcpp-debug-server
          haxelib git androiddialogs https://github.com/beihu235/AndroidDialogs
          haxelib git devicelanguage https://github.com/beihu235/devicelanguage
          haxelib run lime setup

      - name: Configure Android
        run: |
          haxelib run lime setup -alias -y
          haxelib run lime config ANDROID_SDK $ANDROID_HOME
          haxelib run lime config ANDROID_NDK_ROOT $ANDROID_NDK_HOME
          haxelib run lime config JAVA_HOME $JAVA_HOME
          haxelib run lime config ANDROID_SETUP true
          haxelib list
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}

      - name: Building (Seu Código de MIDI)
        run: haxelib run lime build android -release
        
      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: PortAndroid
          path: export/release/android/bin/app/build/outputs/apk/release/*.apk
